<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">

  <body>
    <div>
  <%= flash[:notice] %>
    </div>

      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!--多分ヘッダーのなにかをのせるんだとおもう-->
        </nav>
      </header>

      <main>
        
        <%= render 'books/list', book: @book %>
        

        <div class="row">
          
            <i class="fas fa-wrench"></i><%= link_to "edit", edit_user_path(@book.user) %><i class="fas fa-user-cog"></i> <!--後で画像でリンクつなげる-->
          
        </div>


       <h2 class="mt-3">New book</h2>
        <%= form_with model: @book_new do |f| %>
        <form action="/books" accept-charset="UTF-8" method="post">
           <p>Title</p>
          <%= f.text_field :title %>
          <p>Opinion</p>
          <%= f.text_area :body %>
           <%= f.submit 'Create Book' %>
        <% end %>
        </form>
            </div>

        <!--ここまでテンプレート-->
         <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          　<table class="table table-hover table-inverse">

            <tbody>
              <tr>
                <td>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                  <p>
                  <%= link_to @book.user do %>
                    <%= @book.user.name %>
                  <% end %>
                  </p>
                   <td>
                     <%= link_to @book_path do %>
                     <%= @book.title %>
                     <% end %>
                   </td>
                  <td><%= @book.body %></td>
                  <th colspan="1">
                    
                <% if @book.user == current_user %>
                    <%= link_to edit_book_path(@book.id) do %>
                      Edit
                    <% end %>

                    <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" do %>
                      Destroy
                    <% end %>
                <% end %>
                  </th>
                </th>


              </tr>
            </tbody>




          </table>
        </div>
       </div>
      </main>
  </body>
</html>