<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">

  <body>
    <div>
  <%= flash[:notice] %>
    </div>
    
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!--多分ヘッダーのなにかをのせるんだとおもう-->
        </nav>
      </header>
      
      <main>
        <p id="notice"></p>
        
        <div class="container px-5 px-sm-0">
          <div class="row">
            <!--ここからテンプレート-->
            <div class="col-md-3">
              <h2>User info</h2>
               <%= image_tag @user.get_profile_image(100,100) %>
               <table class="table">
                 <tbody>
                   <div>name【<%= @user.name %>】</div>
                   
                   <div>introduction【<%= @user.introduction %>】</div>
                 </tbody>
               </table>
               
        <div class="row">
          <% if @user == current_user %>
            <%= link_to "edit", edit_user_path(@user) %> <!--後で画像でリンクつなげる-->
          <% end %>
        </div>
        
        
       <h2 class="mt-3">New Book</h2>
        <%= form_with model: @book do |f| %>
        <form action="/books" accept-charset="UTF-8" method="post">
           <p>Title</p>
          <%= f.text_field :title %>
          <p>Opinion</p>
          <%= f.text_area :body %>
           <%= f.submit 'Create Book' %>
        <% end %> 
        </form>
            </div>
          
        <!--ここまでテンプレート-->
         <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          　<table class="table table-hover table-inverse">
            
            <tbody>
              <tr>
                <td>
                  <%= image_tag @user.get_profile_image(100,100) %>
                  <p>
                  <%= link_to user_path do %>  
                    <%= @user.name %>
                  <% end %>
                  </p>
                   <td>
                     <%= link_to book_path do %>  
                     <%= @book.title %>
                     <% end %>
                   </td>
                  <td><%= @book.body %></td>
                  <th colspan="1">
                    <%= link_to edit_book_path do %>
                      Edit
                    <% end %>
                   
                  </th>
                </th>
                
                
              </tr>
            </tbody>
        
        
        
            
          </table>
        </div>
       </div>
      </main>
  </body>
</html>

  

  <p>Title <%= @book.title %></p>
  <p>Opinion <%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
